.nav{
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 250px;
  font-size: 18px;
  height: 100vh;
  overflow: auto;
  background: rgb(238, 238, 238);
  padding-left: 20px;
  padding-top: 20px;
}
.container{
  padding-top: 20px;
  margin-left: 250px;
  background-color: #fff;
}
.main{
  padding: 0 20px;
}